{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/inventoryadd.css' %}">
<div class="active inventoryadd">

	<h2 style="text-align: center;">Add product</h2>
	<br>
	<form method="POST">
		{% csrf_token %}
		<div class="card">
			<div class="bigcard">
				<div class="bigcard1">
					<p></p>
					<div>
						<h3>Enter Product Name</h3><input type='text' name='itemname' required>
						<p></p>
						<h3>Enter Manufacture Date</h3><input type="text" name="manufacturingdate"
							placeholder="YYYY-MM-DD"
							onkeypress="return event.charCode>= 48 && event.charCode<= 57 || event.charCode==45"
							required>
						<p></p>
						<h3>Enter Expiry Date</h3><input type="text" name="expirydate" placeholder="YYYY-MM-DD"
							onkeypress="return ((event.charCode>= 48 && event.charCode<= 57) || event.charCode==45)"
							required>
						<p></p>
						<h3>Enter Product Description</h3><input type='text' name='description' required>
						<br>
						<p></p>
						<div class="bigcard2">
							<div class="inputfield">
								<h3><label>Type</label></h3>
								<div class="custom_select">
									<select name='category'>
										<option value="liquid">Liquid</option>
										<option value="capsules">Capsules</option>
										<option value="tablets">Tablets</option>
										<option value="inhaler">Inhaler</option>
										<option value="injectibles">Injectibles</option>
									</select>
								</div>
							</div>
							<br>
							<h3>Quantity</h3><input type="text" name="quantity"
								onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>
							<p></p>
							<h3>Price</h3><input type="text" name="price"
								onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>
							<p></p>
							<h3>Discount</h3><input type="text" name="discount"
								onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>

							<p></p>
							<input type="submit" value="Add">
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>

{% endblock home %}