{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}" />
<div class="container">
  <div class="inner-container">
    <h1 style="text-align: center;">About Us</h1>
    <h3 style="text-align: center;">Welcome To <span id="W_Name1">Pharma</span></h3>
    <p class="text">
    <p><span id="W_Name2">Pharma</span> is a Professional <span id="W_Type1">Pharmacy Automated Billing System </span>
      Platform. Here we provide service for only pharmacy stores, which they like very much. We're dedicated to
      providing them the best of <span id="W_Type2"> Automated Billing System </span>, with a focus on
      dependability and <span id="W_Spec">features provided by our website</span>. We're working to turn our passion for
      <span id="W_Type3">Pharmacy Automated Billing System </span> into a booming <a href="https://www.blogearns.com"
        rel="do-follow" style="color:inherit; text-decoration: none;">online website</a>. We hope you like our <span
        id="W_Type4">Pharmacy Automated Billing System </span> as much as we enjoy offering these services to you.
    </p>
    <p>
    <div class="footer">

      <h3><br>Welcome to Pharma.com! India's Leading Online to Offline Pharmacy!</h3>
      <p>With a dynamic legacy of over 100 years in the pharma business, it comes as no surprise that Pharma.com is the
        first choice of over 4 million+ satisfied pharmacy store owners when it comes to an online to offline pharmacy
        in
        <br>India.
        Pharma.com has a pan India presence as we deliver health care essentials to most of the stores that are spread
        accross the country. We take
        our users requirements seriously at Pharma.com. Be it customer management or medicine logs management, Bill
        generation or<br> adding new items to inventory of store
        , we've got it all covered for all our pharmacy stores!
      </p>
      <h3><br>Take the Worry Out of maintaining logs for each Medicine purchase! Maintain Medicines Records Online
        Anytime!</h3>
      <p>Get everything you need at Pharma.com to take care of your pharma store from high-quality, affordable,
        authentic medicines, Over-The-Counter pharmaceuticals products to general health care products,<br>
        Ayurveda, Unani and Homeopathy medicines.<br>

        Using Pharma.com is just a simple 4 step process. Browse through our wide range of
        health care products, add them to your cart, uploading your prescription (if required) and proceed<br> to
        checkout!<br>

        With Pharma.com, rest assured that your health will be in safe hands!</p>
      <h3><br>Managing medicines online:</h3>
      <p>At Pharma.com, we ensure that you get high-quality life-saving medicines can be managed in a pharma store at
        any
        time. Order
        medicines and manage them at your convenience </p>

      <h3><br>Why Choose Pharma?</h3>
      <p>Pharma is very discreet and offers privacy, customers' purchase history isn't open for outside access.
        Pharma.com
        monitors the sale, quality & efficacy of medicines. Prescriptions are required, so it's impossible to misuse
        certain medicines.</p>
      <ul>
        <li>1 year of experience in the pharma sector</li>
        <li>Vital medicines managed across the country in most of the pharma stores</li>
        <li>Trust of more than 4 thousand+ loyal store owners</li>
        <li>Our team is made up of highly experienced developers & Web designing professionals</li>
        <li>A wide array of services available for your convenience</li>

      </ul>
      <h3>
        <br>Our Awards and Recognition
      </h3>
      <p>We at Pharma.com know how crucial medicine is to treating health conditions and we are extremely proud to be
        at the forefront of the online to offline medicine industry. Pharma.com offers pharmacy store owners a reliable
        <br>online
        to offline pharmacy service and as a testament to our commitment, we are regularly recognized and honoured with
        awards. We
        are pleased to highlight some of our awards here and we aim to continue adding <br>more feathers to our cap!<br>
      </p>
    </div>
    </p>
    <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>

    </p>
    </p>
  </div>
</div>
{% endblock home %}