<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Billing Management System</title>
</head>
<body>
    <h1>The website is still under construction</h1>
    Hey visitor, this is our J-component project for Software Engineering<br><br>
    This project is made by:<br>
    <ul>
        <li>Clifford Christopher</li>
        <li>Sai Harsha Varma</li>
        <li>Vaibhav Bakshi</li>
    </ul>
</body>
</html>