{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<section id="hero">
    <h4>Welcome to Pharma</h4>
    <h2>Best deals </h2>
    <h1>On all medicines</h1>
    <p>Save more, (15 - 30)% off on all medicines</p>
    <button>Buy now</button>
</section>
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
</section>
<section id="product1" class="section-p1">
    <h2>Available Medicines</h2>
    <p>A pharmacy your family can trust.</p>
    <div class="pro-container">
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'img/homepage/products/f1.jpg' %}" alt="">
            <div class="des">
                <span> Paracetamol</span>
                <h5>A cipla product</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹60</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart" ></i></a>
        </div>
    </div>
</section>
<section id="banner" class="section-m1">
    <h4>Discount</h4>
    <h2><span>(15 - 30)% Off</span> on all medicines ,*T&C apply</h2>
    <button class="normal">View</button>
</section>

{% endblock home %}