{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section id="header">
    <a href="#"><img src="{% static 'img/logo.jpg'%}" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'homepage' %}">Home</a>
            </li>
            <li><a class="{% if request.path == '/view' %}active{% endif %}" href="{% url 'view' %}">Shop</a></li>
            <li><a class="{% if request.path == '/upload_item' %}active{% endif %}" href="{% url 'inventoryadd' %}">Add
                    Inventory</a></li>
            <li><a class="{% if request.path == '/about' %}active{% endif %}" href="{% url 'about' %}">About</a></li>
            <li><a class="{% if request.path == '/contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            </li>
            <li><a class="{% if request.path == '/t&c' %}active{% endif %}" href="{% url 'tnc' %}">Terms and
                    conditions</a></li>
            {% if user.is_authenticated %}
            <li>
                <a class="" href="{% url 'homepage' %}" class="dropdown-item">{{ user }}</a>
            </li>
            <li>
                <a class="" href="{% url 'logout' %}" class="dropdown-item">Logout</a>
            </li>
            {% else %}
            <li>
                <a class="{% if request.path == '/accounts/login' %}active{% endif %}" href="{% url 'login' %}"
                    class="dropdown-item">Login</a>
            </li>
            {% endif %}
            <a class="" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"
                    style="color: rgba(0, 0, 0, 0.805)"></i></a>
        </ul>
    </div>
</section>